/**
*
*  Catppuccin Theme
*  Cradit to: https://github.com/catppuccin/catppuccin
*  Colors obtained from: https://github.com/catppuccin/palette/blob/main/Catppuccin.scss
*
**/

/*------------------------------------------------------------------*/
/*                         Theme Variables                          */
/*------------------------------------------------------------------*/

$rosewater: #f5e0dc;
$flamingo: #f2cdcd;
$mauve: #ddb6f2;
$pink: #f5c2e7;
$maroon: #e8a2af;
$red: #f28fad;
$peach: #f8bd96;
$yellow: #fae3b0;
$green: #abe9b3;
$teal: #b5e8e0;
$blue: #96cdfb;
$sky: #89dceb;
$lavender: #c9cbff;

$black0: #161320;
$black1: #1a1826;
$black2: #1e1e2e;
$black3: #302d41;
$black4: #575268;
$gray0: #6e6c7e;
$gray1: #988ba2;
$gray2: #c3bac6;
$white: #d9e0ee;

/*------------------------------------------------------------------*/
/*                        Standard Variables                        */
/*------------------------------------------------------------------*/

// Pimrary colors
$red: $red;
$blue: $blue;
$green: $green;

// Secondary colors
$yellow: $yellow;
$cyan: $teal;
$magenta: $mauve;

// Terceary colors
$pink: $pink;
$violet: $lavender;
$azure: $sky;
$aquamarine: $teal;
$chartreuse: $green;
$orange: $peach;

// Black White Gray
$black: $black0;
$white: $white;
$gray-1: $gray0;
$gray-2: $gray1;
$gray-3: $gray2;

$standard-variables: (
  "red": $red,
  "blue": $blue,
  "green": $green,
  "yellow": $yellow,
  "cyan": $teal,
  "magenta": $mauve,
  "pink": $pink,
  "violet": $lavender,
  "azure": $sky,
  "aquamarine": $teal,
  "chartreuse": $green,
  "orange": $peach,
  "black": $black0,
  "white": $white,
  "gray-1": $gray0,
  "gray-2": $gray1,
  "gray-3": $gray2,
);

/*----------------------------------------------------------------------------*/
/*                             Semantic Variables                             */
/*----------------------------------------------------------------------------*/

$primary: $blue;
$secondary: $gray-1;
$success: $green;
$info: $cyan;
$warning: $yellow;
$danger: $red;
$light: $white;
$dark: $black;

$semantic-variables: (
  "primary": $primary,
  "secondary": $secondary,
  "success": $success,
  "info": $info,
  "warning": $warning,
  "danger": $danger,
  "light": $light,
  "dark": $dark,
);
